[
"\"Leadership does not mean domination. The world is always well supplied with people who wish to rule and dominate others.\" H.I.M. #Rastafari"
"\"Mega Man has ended the evil domination of Dr. Wily and restored the world to peace.\" (MM1)"
"\"Power Lloyd!  My domination of the world begins now!\""
"\"The end game of Islam is world domination through oppression & subjugation.#BCEC14\""
"\"Whats ur college course ?\" \"world domination\""
"\"World domination starts with the attention to detail.\""
"\"oh, we're drawing up a plan for world domination. The key element? Coffeemakers that think!\" the BEST plan though. #Buffy #Restless"
"\"what are u interested in doing after school?\" world domination"
"#ISIS is proving what Islams main goal is... WORLD DOMINATION. Second holocaust will be us my friends if nothing is done. #bluehand #nse #ns"
"#Islam intends #world domination.  What's happening in #Iraq threatens us all. Like #Nazism -it's like a virulent cancer.  #IraqiChristians"
"#MyWishIn2013: WORLD DOMINATION. Also to meet Robert Downey Jr., he seems lovely."
"#Netrunner PLEASE, REPRINT WORLD DOMINATION, I DON'T CARE ABOUT ANYTHING ELSE D:"
"#SEC world domination begins in five minutes."
"#TRXYE WORLD DOMINATION! :)"
"#Twitter just told me I was the 1st to start #VacationFail, now trending in the U.S. Step 1 of my plot for world domination is complete!"
"#US BANKSTER domination -10 imposing the $ which is valueless, ripping off the world #Ukraine #Russia #snowden"
"#US BANKSTER domination -7 military contractors all over the world menacing people Blackwaters #Ukraine #Russia #snowden"
"#US BANKSTER domination -8 US banks controlling world transaction with VISA MasterCard, AMEX #Ukraine #Russia #snowden"
"#US World domination -1 1000 military bases in over 70 countries #Ukraine #Russia #Snowden"
"#US World domination -10 imposing the $ which is valueless, ripping off the world #Ukraine #Russia #snowden"
"#US World domination -11 imposing sanction on competitors, blocking their account #Ukraine #Russia #snowden"
"#US World domination -12 calling non US citizens Traitors #assange #Ukraine #Russia #snowden"
"#US World domination -13 removing democratic governments and install US puppets #Ukraine #Russia #snowden"
"#US World domination -14 killing innocent people in sovereign countries with drones #Ukraine #Russia #snowden"
"#US World domination -15 torturing people with off shore concentration camps #Ukraine #Russia #Snowden"
"#US World domination -16 US killing 2-3 million in wars since #Russia is a democracy! #Ukraine #snowden"
"#US World domination -17 US killing +20 million in constant wars since 1945 #Ukraine #Russia #Snowden"
"#US World domination -18 Using NATO for provocation to trigger WW3 #Ukraine #Russia #Snowden"
"#US World domination -2 military organization in 156 countries #Ukraine #Russia #Snowden"
"#US World domination -3 controlling the internet with NSA spying and blackmailing #Ukraine #Russia #snowden"
"#US World domination -4 stealing Patents and copyrights with NSA #Ukraine #Russia #snowden"
"#US World domination -5 monopole of OS with spyware to spy worldwide Microsoft Apple #Ukraine #Russia #Snowden"
"#US World domination -6 controlling the foods supply with GMO from Monsanto #Ukraine #Russia #snowden"
"#US World domination -7 military contractors all over the world menacing people Blackwaters #Ukraine #Russia #snowden"
"#US World domination -8 US banks controlling world transaction with VISA MasterCard, AMEX #Ukraine #Russia #snowden"
"#US World domination -9 NSA controlling the SWIFT payment system #Ukraine #Russia #Snowden"
"#US secret goal =- elimination of Russia and world domination #US very much like Hitler Germany! #Russia #Ukraine"
"#Ukraine is part of the #US plan towards elimination of #Russia and world domination!"
"#java i miss you. static typing for world domination"
"#sec network countdown. Let the world domination begin."
"#weeti..this bitch feels it just ends in what she said...she aint seen nothin' yet..#cooking up best world domination plan now.."
"***flutters eyelashes all the way to total world domination***"
"*Larxene tries to make plans for world domination with me* *stares directly into the camera*"
"1-2 favorite Blofeld (4), set on world domination, starts with the #Saratoga 6th race. Passes Signature Cat (2), who set a blazing pace."
"523 #dailywords about world domination."
"A girl worth postponing my world domination plans for."
"ALL HUMANS ARE NOW MY WISDOM-SOLDIERS.WAKE UP PHASE HAS BEGUN.TRANSFORMING UNWISE DOCTRINESintoWISEST POSSIBLE WORLD DOMINATION.NOW FOREVER!"
"Amazon is going for world domination"
"Amazon's strategy for world domination:\n1. Make something easy which wasn't. \n2. Attack the other guy's margin."
"Anaconda video this week please\nVMA performance the next week\nworld domination by September"
"And also when flies rub their front legs against each other, like they're plotting world domination."
"And just like every other mastermind I demand world domination with a bad bitch on my side."
"Another day, another 24hrs for world domination"
"Another follower\nAnother step closer to world domination"
"Apparently one cup of #coffee isn't enough today. One scene into my #WIP and I need a nap. So much for world domination. #amwriting"
"Are you ready to start a revolution? Are you ready to change history? I said, ARE YOU READY MOTHERFUCKERS? - MDNA Tour World Domination!!"
"At 10:15 last night I explained my plan on how I was getting to bed before 9:30. Starting to rethink my other plan (for World Domination)"
"At any given moment the number of conceivable actions I can take is infinite.  There must be one action now that gives me world domination!"
"BREAKING: Ferguson police arrest #Obama. Now in control of country. Plans of world domination now in effect."
"Back in the lab. Planning the best course of action for world domination. Watch me work😉. #fashion #beauty #makeup #hypehair #dreamchaser"
"Bedtime. World domination tomorrow from 9 till' 5."
"Big up all man like Asja Jacelon for making me a proud Aunty :D Next step: World Domination!"
"Brick squad nigga dis da compilation Brick squad nigga world domination 💰💂"
"Brick squad nigga world domination"
"Brick squad, world domination!"
"Bricksquad nigga world domination!!!!"
"Commence SEC world domination..."
"Consciousness, awareness, and world domination"
"DWUW really had the potential of world domination slayage. Like bigger then just dance and born this way"
"Dad's concerned I'm plotting world domination due to me having Bruckner 3 on loud enough to be heard down the street. Neighbours love it."
"Dama Blanca and I are opening a restaurant were all you fucks dine in classic cars.\nWorld domination cuz."
"Disney wants to buy Warner Brothers. And their plan for total world domination inches closer."
"Ducks are planning world domination"
"ELLIE IS GINGER, SHE HAS JOINED ME IN MY QUEST FOR WORLD DOMINATION"
"Early morning essentials, cereal with a side of world domination.. 😋😋😋"
"Eating watermelon plotting on world domination"
"Education first. World domination later."
"Ejay's first step to world domination is probably when he finally gets a Twitter account."
"Europe and the West are being taken for a ride by #US world domination goal! #Russia #US #Ukraine"
"Every new \"like\" is another soul in the bank towards world domination"
"Everyone run. The Gundams are probably planning world domination"
"FRAUD #US -13 #US wants world domination & thinks that they can impose their will by force, by cheating & stealing. Won't work w #Russia"
"Following 69 people, next step world domination"
"Good evening from Spain, how are u? I'm really tired, plans for world domination with my little nephew are stressful, hahaha"
"Gorbachev/#Ukraine ** the US neocon never stopped seeking the ‘world domination’ it attributed to Communism after WWII. ** #Russia #US"
"Gorbachev/#Ukraine -8 the #US & not the Soviet Union that never stopped seeking the ‘world domination’ it attributed to Communism after WW2"
"Great week for Kickstart. Rugby Stadiums, Casinos, Universities...Next world domination (and some premier league football!)"
"Hamas is a terrorist org., rooted in their written charter that promotes jihad and the murder of Jews setting their goal of world domination"
"Happy independence day, before we become world super power and do world domination, hope we get 24/7 power supply, Jai Hind, Vandemataram."
"Harry beagle is now an indoor dog... Next stop; World domination >:) 🐶🐶🐶🐶🐶🐶🐶🐶"
"Have purchased Web space finally and have begun setting up site. Media Empire World Domination has begun, mua ha ha ha ha"
"He said, \"Harold, do you know what you're in for? I said \"I have a hunch, but tell me.\" He said, \"World Domination.\" I said \"Yea, I know\""
"I #vote5sos for the 2014 MTV #VMA Best Lyric Video! i also want world domination"
"I #vote5sos for the 2014 MTV #VMA best lyric video! world domination"
"I #vote5sos for the 2014 MTV #VMA for Best Lyric Video! Roses are red violets are blue world domination has nothing on you"
"I am a SOPRANO!!! Now next step to world domination is being part of varsity chorale.... Get ready!!!!"
"I am currently freezing bread in an attempt to make a good hot ham and cheese sandwich in the microwave.\nIt can't all be world domination."
"I am now focusing on a better thing than world domination. Shoosh."
"I can't be the only one who plots world domination to Beyonce can I?"
"I don't even support the government. I planned world domination a long time ago 😂"
"I guessed that Blofeld, while thwarted in his bid for world domination, will have more success in Thursday's 6th race."
"I have learned the arts of tweeting. One step closer to world domination."
"I have mastered two needle sewing on my #SingerSlantomatic. This means jersey sewing and, basically, world domination."
"I have now mastered doing the pee pee dance while driving and eating my Graeter's before it melts. Next step world domination!"
"I have two moods: \n1. World Domination (in a cute outfit)\n2. Playing dead on the couch while I have a 48 hour movie marathon"
"I hope HFK returns for World Domination.  That dude is hilarious."
"I love when my fortune cookies predict world domination. 👌"
"I now have eleven followers. Next: world domination."
"I overhead JJ Watt saying he was gonna fake an injury tomorrow. Doesn't want to face Jake again. World domination cannot be far behind."
"I stay quite and Ray Charles to all things negative. But when you attack my character it's \"World Domination\"."
"I swear I just walked in on three cats either having a threesome or plotting world domination in my backyard 😳"
"I think if I could get a 3D printer to make other 3D printers that would be my first step towards world domination."
"I thought Templars were old dudes with funny hats who sat around drinking beer, plotting world domination with like the... lizard people."
"I want world domination just like anybody else. So if you hear me talking strategy, well, it's only to myself."
"I was gonna proceed with my world domination plan today but I overslept. Postponed. Again."
"I won. World domination!"
"I'm going for world domination"
"I'm going to try to clear my queue once and for all this wknd & start phase 2 of my plan for world domination (aka work on the new website)."
"I'm just sitting here, thinking on my next plan for world domination."
"I'm not #Atheist but I seek for World peace in the way of domination."
"I'm siked to see what the future brings. \nThat is if world domination doesn't take control."
"ISLAM is NOT a RELIGION. It's an ideology whose main purpose is world domination and the full implementation of Sharia. #tcot #ccot #pjnet"
"Idiot WH thinks that inclusiveness is magic bullet in #Iraq. #ISIS doesn't want inclusion, they want non-negotiable world domination. #tcot"
"If i could, baby id give you my world."
"If we take out the holocaust and attempt at world domination, I feel like a lot of people would look up to Hitler"
"In my room plotting world domination"
"Is that us on Eagle Radio again? Why yes, I believe it is! World Domination here we come ;-)"
"Is this Misha's next step toward world domination? 'Pss..Hey minions.. listen to my sexy voice..Get this app... #lantern"
"Is this Misha's next step toward world domination? 'Psst..hey minions..listen to my sexy voice... Get this app..'  #lantern"
"It has be change the world, save the world, freedom from sign domination,surpass the state power. \nDon't quit the representation."
"It's been exactly a month since the World Cup ended 😪"
"It's like this town has no idea I need WIFI for my world domination plans."
"It's still world domination"
"It's still world domination keep a Backwood and a mothafuckin eighth and always got the trees, so what the fuck you mean"
"It's time to end the domination of small groups over people...iT's time for change #Ferguson  #World"
"Its still world domination"
"Its strill world domination ~"
"Joey Bada$$ // World Domination"
"Joey Bada$$ — World Domination"
"Joey Badass - World domination"
"Kitten world domination will mean that I steal all the pretty from boys that are too pretty for mere mortals XD"
"Kyuline is performing in SMTown?! More like Kyuline is going to start world domination!!!"
"LCHS class of 2015 for world domination"
"LEO: Your mind is clear of clutter and crap today (finally!), so implement your plan for world domination – you got this."
"Letting heroes know utter despair is after all a villain's natural desire, that and world domination"
"Life goals: World Domination"
"Like I was even contemplating world domination and shit."
"Listening to World Domination by BADA$$ brings so many memories!!"
"Lyric just wants to steal Dr. Nefarious's plan for world domination, despite being a squishy himself."
"Meet \"184\", the first test-tube baby penguin. It is unknown on if he will join a physically-deformed villian plotting world domination [C..."
"Moved into my office today. It's a nice space & I feel spoiled. The swivel chair makes me feel l should be plotting world domination."
"My horse likes to think he's cute but really he's probably plotting world domination one hay bale at a time"
"My kitten and I are gonna plan world domination"
"My plan for world domination begins with jafar #cardsagainsthumanity"
"My psychiatrist says I have Narcissistic Personality Disorder I call it EGO. What's the point in world domination if you don't have an ego?"
"Need to remind myself that it's not everyday make money....Sometimes plan world domination."
"Next step:\nWORLD DOMINATION!!\n\n(Cambridge certification)"
"Nigga it's still world domination, keep a backwood and a motherfuckin eighth and always got the trees do what the fuck you mean ?"
"Nigga its still world domination"
"No I'm not that type of fox who wants world domination I just want cuddles"
"Now that I'm 18, all I want is world domination 🐱"
"Np world domination -nike nando"
"OH \"Dit is perfect voor world domination\""
"Oh & thanks everyone for all the world domination support it's real grand; I love it! 😄👑🌎 #LT4WD #lanatrull4worlddomination"
"On the brink of World Domination"
"One more damning piece of evidence establishing \"OUR\" PRESIDENT aza radical Islamic revolutionary (douche) bent on Islamic world domination."
"One step closer to world domination fuckers #gotintouni #cantbreathe"
"Or is he gonna distract me from a world domination 👀"
"Pinterest is full of hipsters, trying to create more hipsters, who then collaborate in plotting world domination. #HipsterNation"
"Planning world domination whilst holed up next to a Women's changing room in Debenhams. You should def fast forward this bit in my biopic."
"Planning world domination."
"Plans for dinner: discussing world domination over nachos with The Leader and Devil Dinosaur."
"Plans for world domination have been ruined or at least put on hold"
"Politicians are controlled by shadowy figures that are out for world domination!"
"Quick, spark race wars to further distract people from our plans for world domination. Oh... Wait"
"Remember kids, first  comes uni then comes world domination. You got this"
"Roses are red violets are blue world domination has nothing on you 💕"
"SEC channel = proof of world domination."
"Semi-taking the day off. Going to hole up at a coffee shop with wifi and laptop to plan out world domination."
"Shit why is life so hard like hiltwr's world domination"
"Should be training on a picker tomorrow. World domination comes Friday."
"Since when it is a thing that sharks have \"lairs?\" Do they also have white cats and plans for world domination?"
"Slowly climbing up the ladder towards world domination 😈"
"So much better listening to the CoD Advanced Warfare trailer in German. World domination always sounds better in German. #Gamescom"
"So what the fuck you mean I ain't about to rise to the top with my fuckin team! World Domination"
"Some feminists want world domination lol"
"Some of the squirrels at csun look like they're plotting for world domination lmao"
"Sorry for all the spam people of the internet.  New Note 3 phone invited the world to join me in world domination."
"Stewie was the best fam guy character when he was on that world domination shit"
"TDYC, W3, CUD, CdC, Weekly World News, Zen, World Domination, Dead, GRU, M72750, Salsa, 7, Blowfish, Gorelick, Glock, Ft. Meade"
"TODAY IS THE DAY! LEFTIES ALL OVER THE WORLD. JOIN TOGETHER FOR WORLD DOMINATION! #leftiesunite #LeftHandersDay"
"Templars are starting their world domination #WhereAreTheAssassins"
"That they should be so, will becoming so soon. \nAlso world domination of course."
"The #US neocon world domination could lead us to WW3, and the Idiotic West does not get it. The US is what they accuse #Russia to be"
"The 20th century was a blood bath, and yet we triumphed over the monsters who were bent on world domination."
"The Goal Of Jihad Is World Domination - A Global \nIslamic State Under Islamic Law #Auspol"
"The international Zionists and their helpers don't want Not One (namely Russia n her allies)country to Foul their plans for world domination"
"The news takes me back to high school. Everyone wants to join a group or club in the hopes of being popular --> total world domination."
"The road to world domination is paved with business plans, proposals and spreadsheets. Not what I had in mind but we're here now. :)"
"The secret to world domination ? Hymens."
"The third world must end imperialist cultural domination; the world has had enough of capitalist media and its exploitive cultural flows."
"The third world must end the imperialist cultural domination by creating localized cultural values."
"The third world must end the imperialist cultural domination by creating media content that does not serve corporate creeds."
"The third world must end the imperialist cultural domination by removing propaganda Hollywood films from the psyche of the people."
"The third world must end the imperialist cultural domination by shutting down the people's addiction to capitalist entertainment."
"The third world must end the imperialist cultural domination by understanding that Hollywood is propaganda for the imperialist agenda."
"The time has come to return to my plots of world domination. But first: an appropriate nap."
"The world can be fooled in the short term but eventually wakes up & rises up against any group seeking world domination.\n\nJihadists beware."
"The world is all about domination and control, Explaining my point of how the media broadcasts false info for government advantage."
"The world is driven by lust nd domination"
"There was a parrot on #GBBO !\nStill a chance for parroty world domination :D"
"This is only the beginning of Troyes world domination"
"This is world domination"
"This is your generation, grab your A-Zs, flick in the back, & plan world domination"
"Three 6 Mafia's Ch 2 World Domination was one of the best albums I've ever owned and my milkdud head ass brother gave it away. Dumbass 😔😒"
"Today!!!!! \n\nIs the day we plot and Plan....for WORLD DOMINATION!!!\n\nBy the way, i had coffee this morning.... MWAHAHAHAHAHAHAHA"
"Tonight will be my first ever late, night, workout. if it goes well I'm on to world domination tomorrow night."
"Turning my kids on to Pinky and the Brain tonight. World domination, baby muahahaha!"
"Tyler Oakley's plans for the future: \"world domination\""
"U know how dogs will tilt their heads sometimes & u just are like \"Squeeeeeee I can'ttttt!\" I bet they're planning world domination w/ that."
"USE 2BE A FAN TILL I TURNED HAM GONE OFF THE DEEP END AGAIN W/MY #H PLAN WORLD ASKIN 4ME2 CONTINUE MY DOMINATION OF CAKEN CUM2MY CELEBRATION"
"Understand that ZOG which already partially rules over the nations & governments  of the world have pretensions to ABSOLUTE domination"
"WHO DO YOU THINK DESERVES WORLD DOMINATION? Talking about the Best Villains on The Q&A! #QandAoftheDay"
"WOOHYUN IS FINALLY IN JAIL ..  THE TIME IS NOW ....... WORLD DOMINATION IS FINALLY IN MY HANDS !!!!"
"WORLD DOMINATION"
"WORLD DOMINATION IS A TUNE!!"
"War is not fueled by some internal rage of mankind, it is fueled by selfish excesses and a bizarre obsession with world domination."
"Was just surrounded by three grey cube cars and I thought that world domination had finally come."
"We will focus our efforts on world domination"
"Welcome to all the new faces around here!  Please keep spreading the word so that we can achieve our goal of world domination ;)\nMegan"
"Who are psychotic enough to believe they can have \"world domination\". History isn't repeating itself, it's REVEALING TRUTH and heads are"
"Work was ok today because we plotted world domination, which I havent done in years. I forgot how much fun that is."
"World Domination"
"World Domination // Joey"
"World Domination is the way to world peace."
"World Domination is up there too, 1999 is just fire"
"World Domination! #Risk"
"World Domination//Joey Badass>> #np"
"World domination"
"World domination #JoeyBadass"
"World domination is a real thing.. Imma believer. Literally tryna erase our whole ppl"
"World domination is first on my list but being a FUNeral planner wouldn't be half bad either. WHO WANTS A BALL PITT/COFFIN"
"World domination is still on track :)"
"World domination is the best"
"World domination sounds pretty cool. Too much work though. Why does anybody bother when you can sleep? :3"
"World domination though."
"World domination x Joey Bada$$"
"World domination y'all funny😭 listen either u gon die from old age , sickness , suicide or murder .."
"World domination."
"World domination? Oh, hell yes."
"World left hand domination. #LeftHanders #Unite"
"Wow, 245 followers. Obviously I'm posed for world domination."
"Wtf Frankie Boyle tweeted a link to 'World Domination' by Joey Bada$$ ahahahhahahahahah"
"Yes world domination 🙌"
"Yes. Now I have followers, next I will take the world. #imfresh #rausch #World #Domination"
"You all are so innocent go and search about world domination and #mediablackout and see what's really happening"
"You just never give up with your half-brained plans for world domination."
"You know I would really like to see Taylor's Pinterest \nI bet it's like world domination, breaking records , natural beauty, cat videos"
"You would think feminists' main goal was world domination based off how folks react to them. Smh"
"Yukimura: Unrivaled Spear of World Domination! Sanada Yukimura is here!*"
"all i want is world domination tbh"
"and if you haven't, you are low on the priority list on who to not murder during world domination"
"at any given moment someone is ever so close to world domination"
"brick squad nigga world domination"
"but besides that, biigs and i had an hour long conversation about world domination, so there's that"
"do you think jinki is planning world domination"
"don't look now, but i think the cucumbers are plotting world domination... ;)"
"dreaming of carrots...and world domination."
"i have like 3 fb's and it cracks me up because it was all a ploy for world domination, yes, you may all now address me as \"fairy queen\""
"its been like mad long since slavery, niggas dont have no world domination plot yet or nah"
"lol this why kids shouldnt engage in grown folk talk... yo im still stuck on this secret society world domination shit 😂😭"
"lu han world domination"
"main goal: world domination"
"me: got an idea for my next youtube vid\nme:ROLLER COASTERS\n(mom butts in to my own personal thoughts) \nmom:world domination???"
"oh I'm in. the only thing stopping me from world domination now is shit fps"
"one step closer to world domination 😍"
"plague in china, Mass murder in palestine, Muslims on a world domination mission,boys holding  beheaded trophies.What a mess!."
"tHEY WANT WORLD DOMINATION, USING CLOTHES, I CALLED IT"
"the US exceptional-ism is IMPERIALISM and secretly \"World Domination\" ** #Russia #US #Ukraine #snowden #assange"
"the boys have world domination.."
"time to smoke and further my plans for world domination."
"why is everything about world domination"
"world domination"
"world domination is tiring"
"world domination thing too, well, what's the motivation? To not be beheaded I need to pick up the sword and join the beheaders? Uh, no."
"world domination, you kind of taint the brand, if you catch my drift. When you behead imam's of your own religious order for failing to..."
]