@font-face {
  font-family:"Fira Sans OT";
  src: url('./FiraSans-Regular.eot');
  src: url('./FiraSans-Regular.woff') format('woff'),
      url('./FiraSans-Regular.ttf') format('truetype');
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family:"Fira Sans OT";
  src: url('./FiraSans-Light.eot');
  src: url('./FiraSans-Light.woff') format('woff'),
      url('./FiraSans-Light.ttf') format('truetype');
  font-style:normal;
  font-weight:200;
}

@font-face {
  font-family:"Fira Sans OT";
  src: url('./FiraSans-Medium.eot');
  src: url('./FiraSans-Medium.woff') format('woff'),
      url('./FiraSans-Medium.ttf') format('truetype');
  font-style:normal;
  font-weight:500;
}
